{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}
{% block title %}登陆{% endblock %}
{% block css %}/static/styles/pages/login.css{% endblock %}

{% block content %}
    {% for message in get_flashed_messages() %}    
        <div class="alert alert-warning">        
            <button type="button" class="close" data-dismiss="alert">×</button>        
            {{ message }}    
        </div>
    {% endfor %}
    <div id="form">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <p>
        New User?
        <a href="{{url_for('auth.register')}}">
            Click here to register
        </a>
        </a>
    </p>
{% endblock %}


